# Environment
.env
**/.env

# Python
.venv/
**/.venv/

__pycache__/
**/__pycache__/
*.pyc

# Database
*.db

# Secrets
fivetran-key.json
fivetran-key-v2.json

# ADK
.adk/
**/.adk/

# Next.js
node_modules/
.next/